._items{
	cursor: pointer;
	overflow: hidden;
	line-height: 1em;
}
.item-data{
	width: 240px;
}
.resultados{
	overflow: auto;
}
.desc{
	overflow: auto;
	position: relative;
}
.desc_tools{
	background-color: white;
	margin-bottom: .2em;
}
.desc_tools p{
	margin-top: .3em;
}
.pricing{
	font-size: 1.4em;
}
.desc_imgs, .desc_data{
	width: 100%;
	display:block;
}
.desc_data *{
	font-size: 1em !important;
	color: black !important;
}
.desc_data{
	margin-top:1em;
}