.imagenes_lista{
	height: 280px;
	overflow: hidden;
}
.imagen_ver{
	height: 120px;
	overflow: hidden;
	text-align: center !important;
	width: 100%;
}
.imagen_ver img{
	max-height: 120px;
}
.text_ver{
	height: 100px;
	overflow: hidden;
}